name: Build & Deploy
on:
  workflow_dispatch:
  push:
    branches: [master]
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore
  pull_request:
    branches: [master]
    paths-ignore:
      - README.md
      - LICENSE
      - .gitignore
permissions:
  contents: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - run: npm install
      - run: npm run build
        env:
          TIDDLYWIKI_PLUGIN_PATH: ./wikilabs-pugins
      - name: Deploy
        if: github.event_name != 'pull_request' 
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
